/* ------------------  기준 디바이스: iPhone 13 (390 x 844 px) -------------------- */
/* --- Common Style : Reset & Base --- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100dvh;
  scroll-behavior: smooth;
  /* overscroll-behavior: none; */
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  background-color: rgba(0, 125, 125, 0);
}
body {
  color: #000;
  background-color: #efefef;
  font-family: "Noto Serif KR", serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem; /* 16px */
  line-height: 1.6;
  /* overscroll-behavior: none; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}

/* --- Common Style : Section --- */
.container {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  scrollbar-width: none;
  overscroll-behavior: none;
}
.page-wrapper::-webkit-scrollbar {
  display: none;
}
.content-wrapper {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
  background-color: #fff;
}
.axis-line {
  position: absolute;
  top: 0;
  left: 16%;
  width: 1.5px;
  height: 98.5%;
  background-color: #222;
}
.axis-point {
  position: absolute;
  top: 0;
  left: 16%;
  z-index: 3;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  will-change: top;
  transform: translate3d(0, 0, 0);
}
.section {
  position: relative;
  height: 100vh;
  height: 100dvh;
}
.section-indicator {
  position: fixed;
  top: 1.75%;
  right: 4.5%;
  font-size: clamp(1.3rem, 2.6vw, 3.25rem);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
.landscape-message {
  display: none;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 500;
  color: #000;
  text-align: center;
}

/* --- [Section] : Intro Style -------------------------------------------- */
section.intro {
  display: flex;
  align-items: center;
}
.intro__txt {
  position: absolute;
  left: 11%;
  padding-bottom: 0.45rem;
  padding: 0 0.55rem 0.45rem;
  background-color: #000;
  font-size: clamp(4rem, 6vw, 6.5rem);
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #fff;
  opacity: 1;
  transform: translateX(-13.5%);
}
.intro__txt span {
  opacity: 0;
  min-width: 1.75rem;
}
.intro__txt-dot {
  position: absolute;
  top: 50%;
  left: 16%;
  translate: -50% -50%;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}
.intro__dot-innerline {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1.5px;
  background-color: #000;
  transform: translateY(-50%);
}
.intro__arrow {
  position: absolute;
  bottom: 6%;
  left: 50%;
  width: clamp(2.75rem, 5vw, 6rem);
  transform: translateX(-50%);
  opacity: 0;
}

/* --- [Section] : Profile Style -------------------------------------------- */
section.profile {
  line-height: 1.85;
}
.profile-frame {
  width: 100%;
  height: 100%;
}
.profile__item {
  position: absolute;
  left: 25%;
}
.profile__name {
  top: 10%;
}
.profile__job {
  font-size: clamp(2rem, 4vw, 5rem);
}
.profile__name {
  font-size: clamp(2.5rem, 5vw, 6rem);
}
.profile__portrait {
  top: 30%;
  width: 32%;
  height: 32%;
}
.profile__info {
  top: 54%;
  font-size: clamp(1.85rem, 3.25vw, 4rem);
}
.profile__portrait svg {
  overflow: visible;
}
.profile__message {
  top: 70%;
  font-size: clamp(2.35rem, 4vw, 5rem);
}

/* --- [Section] : Skills Style -------------------------------------------- */
.skills__list {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  text-align: center;
  line-height: 2.6;
}
.skills__item {
  color: #000000;
  font-weight: 500;
}
.skills__item:not(:first-child) {
  margin-top: 6rem;
}
.skills__title {
  display: inline-block;
  position: relative;
  font-size: clamp(2rem, 4.5vw, 6rem);
}
.skills__arrow {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-400%, 7%) rotate(-25deg);
  font-size: clamp(1.7rem, 3.75vw, 4rem);
}
.skills__desc {
  font-size: clamp(1.6rem, 2.75vw, 3.5rem);
}

/* --- [Section] : Works Style -------------------------------------------- */
.works__list {
  position: absolute;
  top: 13%;
  left: 25%;
  width: 60%;
  text-align: center;
  line-height: 1.75;
  white-space: nowrap;
}
.works__list a {
  display: flex;
  justify-content: space-between;
}
.works__item:not(:first-child) {
  margin-top: 8rem;
}
.works__thumbnail {
  aspect-ratio: 1/1;
  width: clamp(5.5rem, 35%, 14rem);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15%;
  overflow: hidden;
}
.works__list li:nth-child(even) .works__thumbnail {
  border-radius: 50%;
}
.works__corporate .works__thumbnail {
  background-color: #ddd;
}
.works__thumbnail img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.works-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ddd;
}
.works-title {
  font-size: clamp(1.4rem, 2.5vw, 5rem);
}
.works-txt {
  padding: 5px 0;
  font-size: clamp(1.3rem, 2.5vw, 3rem);
}

/* --- [Section] : Outro Style -------------------------------------------- */
section.outro {
  pointer-events: none;
}
section.outro::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 16%;
  width: 84%;
  height: 0.1rem;
  background-color: #222;
}
section.outro::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 16%;
  width: 0.15rem;
  height: 50%;
  background-color: #222;
}
.outro__wrapper {
  position: absolute;
  top: 24%;
  left: 26%;
  width: 60%;
  line-height: 1;
}
.outro__message {
  display: flex;
  align-items: end;
  padding: 0;
  min-height: 1.6rem;
}
.outro__message--sub {
  margin-top: clamp(2.8rem, 6vw, 6rem);
}
.outro__title {
  font-weight: 600;
  font-size: clamp(2.8rem, 6vw, 6rem);
}
.outro__subtitle {
  font-weight: 600;
  font-size: clamp(2.4rem, 5vw, 5rem);
  white-space: nowrap;
}
.outro__cursor {
  width: 2px;
  height: clamp(3rem, 6vw, 6rem);
  background-color: #000;
  margin-left: 4px;
}
.outro__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.75rem;
  position: absolute;
  top: 58%;
  left: 26%;
  font-size: clamp(2rem, 3.25vw, 5rem);
  font-weight: 600;
  text-transform: capitalize;
  pointer-events: auto;
  text-align: center;
}
.outro__menu li {
  transform: translateX(-1.2rem);
  opacity: 0;
  /* border: 1px solid blue; */
}
.outro__menu li a {
  display: inline-block;
  padding-bottom: 2px;
  letter-spacing: 0.85px;
}
.outro__copyright {
  display: grid;
  place-items: center;
  position: absolute;
  right: 16%;
  bottom: 0;
  width: 84%;
  height: 7.5%;
  padding: auto 0;
  font-size: clamp(1rem, 2.2vw, 2.75rem);
  border-top: 1.5px solid #222;
  border-right: 1.5px solid #222;
  z-index: -1;
}

/* ---------------------- 미디어쿼리 반응형 기기별 대응 ------------------------- */
/* 375px × 667px (아이폰 SE 2,3) */
@media (max-width: 375.98px) {
  html {
    font-size: 58%;
  }
  .profile__portrait {
    top: 22%;
  }
  .skills__list {
    top: 8%;
  }
  .skills__item:not(:first-child) {
    margin-top: 4rem;
  }
  .works__list {
    top: 10%;
  }
  .works__item:not(:first-child) {
    margin-top: 6rem;
  }
}

/* 820px × 1180px (iPad Air) */
@media (min-width: 820px) {
  .intro__txt {
    transform: translateX(-10%);
    font-size: 6.5rem;
  }
  .intro__txt-dot {
    width: 4.5rem;
    height: 4.5rem;
  }
  .skills__item:not(:first-child) {
    margin-top: 4rem;
  }
  .works__list {
    top: 8%;
    width: 54%;
  }
  .outro__menu {
    grid-gap: 7rem;
  }
}

/* 1024px × 1366px (iPad Pro) */
@media (min-width: 1024px) {
  .intro__txt {
    vertical-align: text-top;
    transform: translateX(-9%);
    font-size: 7rem;
    letter-spacing: 0.7rem;
  }
  .intro__txt-dot {
    width: 4.5rem;
    height: 4.5rem;
  }
  .skills__list {
    top: 5%;
  }
  .outro__menu {
    left: 22%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }
}

/* 1025px 이상 (Desktop) */
@media (min-width: 1025px) {
  html {
    font-size: 35%;
  }
  section {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .section-indicator {
    right: 50%;
    transform: translateX(80rem);
  }
  .intro__txt {
    transform: translateX(0%);
    letter-spacing: 1rem;
  }
  .profile__portrait {
    width: 20%;
    height: 20%;
  }
  .works__list {
    width: 50%;
  }
  .works__thumbnail {
    font-size: 2vw;
    min-width: 22rem;
  }
  .works-title {
    font-size: clamp(1.4rem, 2vw, 5rem);
  }
  .works__list li:nth-child(odd) .works__thumbnail {
    margin-left: 12%;
  }
  .works__list li:nth-child(even) .works__thumbnail {
    margin-right: 12%;
  }
  .works__list li:nth-child(odd) .works__desc {
    text-align: left;
  }
  .works__list li:nth-child(even) .works__desc {
    text-align: right;
  }
  .outro__menu {
    grid-gap: 7rem;
  }
}

/* --- 모바일, 태블릿에서 가로모드 시에 안내문구(세로 모드로 이용해주세요) --- */
@media screen and (max-width: 932px) and (orientation: landscape) {
  body {
    overflow: hidden;
    min-height: 100dvh;
  }
  .container {
    display: none;
  }
  .landscape-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 100;
  }
}
