/* ---  Common Style : Reset & Base Styles --- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #fff;
  font-family: "Noto Serif KR", serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}

/* ---  Common Section Style --- */
.container {
  position: relative;
  width: 100vw;
  width: 100dvw;
  height: 500vh;
  height: 500dvh;
}
.section {
  height: 100vh;
  height: 100dvh;
  outline: 1px solid pink;
  outline-offset: -2px;
}
.axis-line {
  position: absolute;
  top: 0;
  left: 16%;
  width: 1.5px;
  height: 100%;
  background-color: #222;
}
.axis-point {
  position: absolute;
  left: 16%;
  z-index: 3;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  translate: -50% -50%;
  transform-origin: center;
}
.axis-point.active {
  opacity: 1;
  animation: pulse-animation 2.75s infinite;
}
@keyframes pulse-animation {
  0%,
  100% {
    transform: translate(-50%, -100%) scale(1);
  }
  50% {
    transform: translate(-50%, -100%) scale(1.2);
    box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.2);
  }
}

/* --- [Section] Common Style -------------------------------------------- */
/* .section-indicator {
  position: fixed;
  top: 2%;
  right: 4%;
  font-size: 0.75rem;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
} */

/* --- [Section] Intro Style -------------------------------------------- */
section.intro {
  display: flex;
  align-items: center;
  position: relative;
}
.intro__txt {
  position: absolute;
  left: 16%;
  padding-bottom: 0.3rem;
  padding: 0 0.35rem 0.3rem;
  background-color: #000;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: #fff;
  opacity: 1;
  transform: translateX(-3.25rem);
}
.intro__txt span {
  opacity: 0;
  min-width: 1.75rem;
}
.intro__txt-dot {
  position: absolute;
  top: 50%;
  left: 16%;
  translate: -50% -50%;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}
.intro__dot-inner-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: translateY(-50%);
}
.intro__arrow {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 2.5rem;
  opacity: 0;
  transform: translateX(-50%);
}

/* --- [Section] Profile Style -------------------------------------------- */
section.profile {
  position: relative;
  height: 100vh;
  height: 100dvh;
  font-size: 1.2rem;
  line-height: 1.85;
}
.profile-frame {
  width: 100%;
  height: 100%;
  outline: 1px solid blue;
  outline-offset: -2px;
}
.profile-frame > div {
  position: absolute;
  left: 20%;
}
.profile__name {
  top: 10%;
}
.profile__job {
  font-size: 1.2rem;
}
.profile__name {
  font-size: 1.6rem;
}
.profile__portrait {
  top: 25%;
}
.profile__info {
  top: 55%;
}
.profile__portrait svg {
  overflow: visible;
}
.profile__message {
  top: 70%;
  font-size: 1.5rem;
}

/* 애프터 속성 : 지울 것  */

/* .profile-frame > div::after {
*/
/* .section {{
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 0, 0, 0.5);
} */

/* --- [Section] Skills Style -------------------------------------------- */
section.skills {
  background-color: rgba(195, 39, 39, 0.1);
}
/* --- [Section] Works Style -------------------------------------------- */
/* --- [Section] Outro Style -------------------------------------------- */
